*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

.carouselmovie {
    font-family: system-ui;
    font-size: 1.25rem;
    color: white;
    background: #121212;
    padding: 5%;
}

/* img,
svg {
    max-width: 100%;
    display: block;
}

img,
svg:hover {
    margin: 0 40px;
    transform: scale(1.2);
} */

.section-title {
    margin-block: 4rem 1rem;
}

.media-container {
    position: relative;
}

.media-scroller,
.media-group {
    display: grid;
    gap: 0.25rem;
    grid-auto-flow: column;
}

.media-scroller {
    overflow-x: hidden;
    scroll-behavior: smooth;
    grid-auto-columns: 100%;
    padding: 0 3rem;
    scroll-padding-inline: 3rem;
}

.media-scroller:first-of-type {
    padding-left: 0;
}

.media-group {
    grid-auto-columns: 1fr;
    overflow: hidden;
}

.media-element {
    position: relative;
    border-radius: 0.25rem;
    overflow: hidden;
}

.media-element>img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.next,
.previous {
    display: none;
    align-items: center;
    z-index: 10;
    position: absolute;
    width: 3rem;
    padding: 5rem;
    background: rgb(0 0 0 / 0);
    opacity: 0;
    transition: opacity .25s;
}

.previous {
    left: 0;
    top: 0;
    bottom: 0;
}

.next {
    right: 0;
    top: 0;
    bottom: 0;
}

.media-group:first-child :where(.next, .previous) {
    display: flex;
}

:where(.next, .previous):hover {
    background: rgb(0 0 0 / 0.3);
}

:where(.next, .previous)>svg {
    transition: transform 75ms linear;
    transform: scale(1);
}

:where(.next, .previous):hover>svg {
    transform: scale(1.2);
}

.media-group:target :where(.next, .previous) {
    display: flex;
}

.media-scroller:has(:target:not(:first-child)) .media-group:first-of-type .next {
    display: none;
}

.navigation-indicators {
    opacity: 0;
    position: absolute;
    display: flex;
    gap: 3px;
    top: -1rem;
    right: 2rem;
    transition: opacity .25s;
}

.navigation-indicators>* {
    width: 1rem;
    height: 2px;
    background: white;
    opacity: 0.5;
    transition-delay: .5s;
}

.media-scroller:hover :where(.next, .previous),
.media-group:not(:target)~.navigation-indicators>*:nth-child(1),
.media-group:nth-child(1):target~.navigation-indicators>*:nth-child(1),
.media-group:nth-child(2):target~.navigation-indicators>*:nth-child(2),
.media-group:nth-child(3):target~.navigation-indicators>*:nth-child(3),
.media-group:nth-child(4):target~.navigation-indicators>*:nth-child(4),
.media-scroller:hover .navigation-indicators {
    opacity: 1;
}

.media-group:not(:nth-child(1)):target~.navigation-indicators>*:nth-child(1) {
    opacity: .5;
}

.zoom {
    /* position: relative;
    width: 50%; */
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* height: 100%;
    width: 100%; */
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}


/* .zoom:hover {
    -ms-transform: scale(1.5);
    IE 9 -webkit-transform: scale(1.5);
    Safari 3-8 transform: scale(1.5);
} */

.zoom:hover .overlay {
    opacity: 1;
}