.dropdown-content a:hover {
    background-color: rgb(79, 79, 109);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-menu {
    max-height: 500px;
    overflow: hidden;
    overflow-y: auto;
}