.search-box {
    position: absolute;
    top: 50%;
    right: 260px;
    transform: translate(-50%, -50%);
    background: #2f3640;
    height: 60px;
    border-radius: 40px;
    padding: 10px;
}

.search-box:hover>.search-text {
    width: 100px;
    padding: 0px 6px;
}

.search-box:hover>.search-btn {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.search-btn {
    color: rgb(255, 255, 255);
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    cursor: pointer;
    text-decoration: none;
}

.search-btn>i {
    font-size: 25px;
}

.search-text {
    border: none;
    background: none;
    outline: none;
    float: right;
    padding: 0;
    color: white;
    font-size: 16px;
    font-weight: normal;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}